* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#wrap {
	max-width: 1000px;
}
ul {
	padding: 100px 0;
	margin-left: 100px;
	float: left;
}
ul li {
	list-style: none;
	border: 1px solid #cccccc;
	margin-top : 10px;
}
ul li img{
	cursor: pointer;
	list-style: none;
	width: 100px;
}
#main-img img{
	margin: 70px 0 0 50px;
	width: 500px;
	height: 500px;
	border: 1px solid #cccccc;
}				
@media only screen and (max-width: 600px) {
  	ul {
	padding: 20px 0;
	margin-left: 20px;
	}
	ul li img{
		width: 50px;
	}
	#main-img img{
		width: 150px;
		height: 150px;
	}	
}